
.btn-primary {
  width: 100%;
  background-color: gainsboro;
}



#formbox {
    width: 1000px;
    margin-left: 300px;
    margin-top: 50px;
}

.panel-heading {
    
    background-color: gainsboro;
    color: white;
    height: 30px;
    margin-bottom: 20px;
    text-align: center; 
}

btn {
    background-color: gainsboro;
}

#submit {
    background-color: gainsboro;
}
/*

tries for pop up adjust size

.popup{
    width: 100%;
    height: 300%;
}

.mypopup.leaflet-popup-content-wrapper{
    background-color: gray;
    opacity: 0.9;
}
.mypopup.leaflet-popup-tip {
    background: red;
}

.leaflet-popup-tip-container {
    
    color: aqua;
}

custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  border-radius: 0px;
  }

.popup {
    max-width: 120%;
    max-height: 20%;
}*/
